body{
    background-color: #661618;
    font-family: 'Inter', serif;
    position: relative;
}

.container{
    max-width: 50rem;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 30px;
    padding: 1rem;
    background-color: #e9d8b2;
    box-shadow: .3em .3em .3em rgba(0, 0, 0, .4);
}

.title{
    color: #e9d8b2;
    text-align: center;
    vertical-align: middle;
    font-size: 5rem;
    font-weight: bolder;
    margin-top: 4vw;
    margin-bottom: 0;
}

.fieldBar{
    display: block;
    background-color: #e9e0ca;
    margin: 1vw auto 1vw auto;
    width: 95%;
    height: 5rem;
    padding: 5px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: x-large;
}
::placeholder{
    color: #661618;
    opacity: 50%;
    font-weight: bold;
    padding-left: 1rem;
}

.firstName, .lastName, .email{
    margin-left: 2vw;
    margin-bottom: -1vw;
    color: #661618;
    font-size: 2rem;
    font-weight: bold;
}

button{
    padding: 20px 20px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    font-size: xx-large;
    font-weight: bold;
}

.backToContacts{
    padding: 10px 10px;
    font-size: large;
    margin-left: 3vw;
    background-color: #e9d8b2;
    color: #661618;
}

.addContact {
    margin-left: 1vw;
    background-color: #661618;
    color: #e9d8b2;
}

.logoutButton{
    padding: 10px 10px;
    margin-left: 1vw;
    margin-top: 4rem;
    background-color: #e9d8b2;
    color: #661618;
}

button:hover{
    animation: bubble 0.4s ease-out;
    opacity: .7;
}

@keyframes bubble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

