body{
    background-color: #661618;
    font-family: 'Inter', serif;
    position: relative;
}

.container{
    max-width: 95%;
    height: 4vw;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 30px;
    padding: 1rem;
    background-color: #e9d8b2;
    box-shadow: .3em .3em .3em rgba(0, 0, 0, .4);
}

.title{
    color: #e9d8b2;
    text-align: center;
    vertical-align: middle;
    font-size: 5rem;
    font-weight: bolder;
    margin-top: 4vw;
    margin-bottom: 0;
}

.searchBox{
    display: block;
    background-color: #e9e0ca;
    float: left;
    width: 50%;
    height: 4vw;
    padding: 5px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: x-large;
}

.addContact{
     background-color: #661618;
     color: #e9d8b2;
     float: right;
     height: 4vw;
     padding: 0px;
     padding-left: 10px;
     padding-right: 10px;
}

#searchButton{
    background-color: #661618;
    color: #e9d8b2;
    float: left;
    height: 4vw;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#searchError{
    display: block;
    margin: auto;
    word-wrap: break-word;
    max-width: 30rem;
    font-size: medium;
    color: #EF8787;
}

.table-container{
    max-width: 95%;
    height: fit-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 30px;
    padding: 1rem;
    background-color: #e9d8b2;
    box-shadow: .3em .3em .3em rgba(0, 0, 0, .4);
}

::placeholder{
    color: #661618;
    opacity: 50%;
    font-weight: bold;
    padding-left: 1rem;
    height: 4vw;
}

button{
    padding: 20px 20px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    font-size: xx-large;
    font-weight: bold;
}

button:hover{
    animation: bubble 0.4s ease-out;
    opacity: .7;
}

@keyframes bubble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/*#searchButton{*/
/*    display: none;*/
/*}*/

table{
    width: 100%;
    margin: 20px 0;
}

.table-header{
    font-weight: bolder;
    font-size: x-large;
    color: #661618;
    padding-right: 10%;
    text-align: left;
}

#editDeleteButton{
    color: #e9d8b2;
    background-color: #661618;
    font-size: large;
    padding: 10px 10px;
}

td{
    padding-right: 5vw;
    text-align: left;
}

/*tr{*/
/*    padding-right: 25%;*/
/*    color: #661618;*/
/*    width: auto;*/
/*}*/

.lightField{
    display: block;
    background-color: #e9e0ca;
    width: 100%;
    height: 5rem;
    padding: 5px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: x-large;
}

.darkField{
    display: block;
    background-color: #D0BF98;
    width: 100%;
    height: 5rem;
    padding: 5px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: x-large;
}

.footer{
    color: #661618;
    font-weight: bolder;
    width: 90%;
    padding-bottom: 3vw;
}

#next-button, #prev-button{
    color: #e9d8b2;
    background-color: #661618;
}

.total{
    float: left;
    font-size: x-large;
}

#page{
    color: #661618;
}

.pageNumber{
    float: right;
    font-size: x-large;
}

.logoutButton{
    padding: 10px 10px;
    margin-left: 1vw;
    margin-top: 4rem;
    background-color: #e9d8b2;
    color: #661618;
}