body{
    background-color: #661618;
    font-family: 'Inter', serif;
    position: relative;
}

#loginError{
    display: block;
    margin: auto;
    word-wrap: break-word;
    max-width: 30rem;
    font-size: x-large;
    color: #e9d8b2;
}

.title{
    color: #e9d8b2;
    text-align: center;
    vertical-align: middle;
    font-size: 5rem;
    font-weight: bolder;
    margin-top: 4vw;
    margin-bottom: 0;
}

.instructions{
    color: #e9d8b2;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 3vw;
}

.signIn:link{
    color: #0096FF;
}

.signIn:visited{
    color: #0096FF;
}

.container{
    max-width: 50rem;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 30px;
    padding: 1rem;
    background-color: #e9d8b2;
    box-shadow: .3em .3em .3em rgba(0, 0, 0, .4);
}

.firstName, .lastName, .username, .password, .confirmPassword{
    margin-left: 2vw;
    margin-bottom: -1vw;
    color: #661618;
    font-size: 2rem;
    font-weight: bold;
}

.fullBar{
    display: block;
    background-color: #e9e0ca;
    margin: 1vw auto 1vw auto;
    width: 95%;
    height: 5rem;
    padding: 5px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: x-large;
}

#create{
    display: block;
    margin: 1vw auto 1vw auto;
    width: 60%;
    height: 5rem;
    padding: 5px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #661618;
    font-size: xx-large;
    font-weight: bold;
    color: #e9d8b2;
}

@media (max-width: 600px){
    #create{
        font-size: x-large;
    }
}

#create:hover{
    animation: bubble 0.4s ease-out;
    opacity: .7;
}

@keyframes bubble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

#creationError{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    font-size: x-large;
    color: #661618;
}

::placeholder{
    color: #661618;
    opacity: 50%;
    font-weight: bold;
    padding-left: 1rem;
}